{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SubTrack</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-overlay">
        <div class="container fade-in">
            <h1 class="title">Жазылымдарыңды бақыла!</h1>
            <p class="subtitle">Төлем күнін ұмытпа. Қаржыңды үнемде.</p>
            <a href="#" class="btn-main">Бастау</a>
        </div>
    </div>
</body>
</html>